/* Provide sufficient contrast against white background */
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: none !important;
}
::-webkit-scrollbar-thumb {
  background: #8639E8;
  border-radius: 5px;
}

a {
  color: #0366d6;
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

code {
  color: #E01A76;
}

.btn-primary {
  color: #fff;
  background-color: #8639E8 !important;
  border-color: #1861ac;
}

@keyframes slidein {
  from {
    transform: translateY(30px);
  }

  to {
    transform: translateY(0);
  }
}

.dark-header {
  background: #8639E8;
  user-select: none;
}
.dark-header a:is(:hover, :visited, :link, :active) {
  color: #FFFFFF !important;
}

.light-header {
  background: #FFFFFF !important;
  user-select: none;
}
.light-header a:is(:hover, :visited, :link, :active) {
  color: #000000 !important;
}

.vacancy-list {
  margin: 30px 0;
}
.vacancy-list > h5 {
  margin: 0 10%;
}
.vacancy-list > .row {
  box-sizing: border-box !important;
  width: 100% !important;
  margin: 15px 0;
  flex-wrap: nowrap;
  flex-direction: row !important;
}
.vacancy-list > .row > .btn {
  width: 120px !important;
  height: 40px;
}
.vacancy-list > .row > * {
  flex-shrink: 1;
}

.purple-btn {
  background-color: #8639E8 !important;
  color: #FFFFFF !important;
}
.purple-btn:is(:hover, :focus) {
  background-color: #FFFFFF !important;
  color: #000000 !important;
  border-color: #000000 !important;
}

.white-btn {
  background-color: #FFFFFF !important;
  color: #000000 !important;
}
.white-btn:is(:hover, :focus) {
  background-color: #ececec !important;
  border-color: #000000 !important;
}